.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 1rem;
}



aside {
    padding: 0.5rem 0;
}

header {
    padding: 0 0 1rem;
}

section {
    margin: 3rem 0 4rem;
}

footer {
    padding: 1rem 0;
}