@use 'variables' as vars;
@use 'mixins' as mix;
@use 'libraries' as libs;

.header {
  display: grid;
  justify-items: center;
  text-align: center;
}

.profile {
  grid-row: 1/2;

  img {
    display: block;
    width: 70%;
    max-width: 400px;
    margin-inline: auto;
    box-shadow: -0.15rem 0.15rem 0 0 vars.$c-raisin-black;
    border-radius: 50%;
    border: 0.15rem solid vars.$c-raisin-black;
    background-color: vars.$c-sheen;
  }
}



.name {
  transform: rotate(-3deg);
  display: grid;
  grid-template-columns: auto 1fr auto;
  margin-block: -2rem -2.5rem;
  // Curve it to fold under the pseudo content borders.
  border-radius: 1rem;
  border-top: 0.3rem solid;
  border-bottom: 0.3rem solid;
  background: gray;
  color: vars.$c-latte;
  font-family: vars.$t-montez;
  line-height: 1;
  text-shadow: -0.25rem 0.25rem 0 vars.$c-raisin-black;

  @include mix.t-fluid-type( font-size, 48px, 80px );

  span {
    z-index: 1;
    transform: rotate(3deg);
    display: inline-block;
    margin-block: -2.5rem -2rem;
    padding-block: 2rem;
  }

  &::before,
  &::after {
    content: '';
    display: inline-block;
    margin-block: -0.3rem;
    margin-inline: calc( -1rem - 0.3rem );
    padding-inline: 2rem;
    border: 0.3rem solid;
  }

  &::before {
    transform: skew(15deg);
    border-radius: 0.5rem 0 0 0.5rem;
    border-right-width: 0;
  }

  &::after {
    transform: skew(-5deg);
    border-radius: 0 0.5rem 0.5rem 0;
    border-left-width: 0;
  }

  &,
  &::before,
  &::after {
    border-color: vars.$c-raisin-black;
    background-color: vars.$c-rust;
  }

  &::before { box-shadow: -0.15rem 0.15rem 0 0 vars.$c-raisin-black; }
  & { box-shadow: 1.15rem 0.15rem 0 0 vars.$c-raisin-black; }
}



.title {
  padding-block: 2rem 0.5rem;
  padding-inline: 1rem;
  box-shadow: -0.15rem 0.15rem 0 0 vars.$c-raisin-black;
  border-radius: 0.5rem;
  border: 0.15rem solid vars.$c-raisin-black;
  background-color: vars.$c-latte;
  background-image: linear-gradient(
    to right,
    vars.$c-latte 50%,
    vars.$c-champagne 50%
  );
  background-size: 10px;
  color: black;
  font-family: vars.$t-peralta;
  text-shadow: -0.25rem 0.25rem 0 vars.$c-latte;

  @include mix.t-fluid-type( font-size, 16px, 20px );
}



// 768px+
@include libs.mq-media('>=md') {
  .profile {
    img {
      max-width: 40%;
      margin-inline: 0;
    }
  }
}
