/* Colors */

$white: rgb(255,255,255);
$black: rgb(0,0,0);

$red: rgb(202,33,4);
$orange: rgb(238,102,18);
$yellow: rgb(236,176,49);
$blue: rgb(22,54,76);
$purple: rgb(40,37,72);

$cream: rgb(241,234,216);



/* Breakpoints */

$xs: 0;
$sm: 544px;
$md: 768px;
$lg: 992px;
$xl: 1200px;