*:first-child { margin-top: 0; }
*:last-child { margin-bottom: 0; }



h1, h2, h3 {
  font-family: 'Lora', 'Times New Roman', serif;
}
h1 {
  font-size: 2.75rem;
  line-height: 1;
}
h2 {
  font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  & + p { margin-top: 0; }
}



pre, code {
  margin-bottom: 1rem;
  font-family: 'Inconsolata', monospace;
}



blockquote {
  margin-left: 0;
  padding-left: 1.5rem;
  border-left: 0.25rem solid $grey;
  color: $grey;
}



.title {
  margin-bottom: 0;
  font-size: 4rem;
}
.subtitle {
  margin-top: 0;
  font-size: 1.5rem;
}


.project-name {
  margin-bottom: 0.5rem;
}
.project-website {
  margin: 0 0 2rem;
  color: $grey;
  font-style: italic;
  font-size: 1.2rem;
}



header {
  .title {
    margin-bottom: 0.75rem;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid $orange;
  }
}



footer {
}