.float-left { float: left; margin-right: 1rem; }
.float-right { float: right; margin-left: 1rem; }
.float-fix { overflow: hidden; }



.text-center { text-align: center; }
.text-right { text-align: right; }