/* Colors */
/* Breakpoints */
/* line 5, ../sass/print.scss */
* {
  background: transparent;
  color: black;
}

/* line 10, ../sass/print.scss */
body {
  font-size: 12pt;
}

/* line 14, ../sass/print.scss */
a, aside a {
  color: #16364c;
  text-decoration: underline;
}
/* line 17, ../sass/print.scss */
a[href^="http"]::after, aside a[href^="http"]::after {
  content: " (" attr(href) ")";
  font-weight: normal;
  font-size: 0.8rem;
}

/* line 24, ../sass/print.scss */
h1, h2 {
  border-color: black !important;
}

/* line 26, ../sass/print.scss */
.container {
  max-width: 100%;
}

/* line 32, ../sass/print.scss */
header .profiles li {
  display: block;
}
/* line 34, ../sass/print.scss */
header .profiles li a {
  color: #16364c;
}
/* line 36, ../sass/print.scss */
header .profiles .fa {
  font-size: 1rem;
}

/* line 40, ../sass/print.scss */
section, aside {
  margin: 0.5rem 0;
}
