.wrapper {
  display: grid;
  grid-template-columns:
    [wrapper-start]
      minmax(2vw, 5vw)
      [container-start] min( min(96vw, 90vw), 80ch ) [container-end]
      minmax(2vw, 5vw)
    [wrapper-end];
}

.container {
  grid-column: container;
  padding: 2vh 0;
}
