.footer {
  background-color: var(--color-secondary);

  a {
    --links-color: var(--color-on-secondary);
    --links-act-color: var(--color-on-accent);

    [class*='fa-'] {
      margin-right: 0.25em;
    }
  }
}
