@use 'include-media' as *;

.footer {
  --links-color: var(--color-on-secondary);
  --links-act-color: var(--color-on-accent);

  background-color: var(--color-secondary);

  .container {
    --gap-row: 4vh;
    --gap-col: 0;

    display: grid;
    gap: var(--gap-row) var(--gap-col);

    @include media( '>=tablet' ) {
      --gap-col: 12vw;

      grid-template-columns: 1fr max( 200px, 30% );
    }
  }

  .copyright {
    grid-column: 1 / -1;
  }
}
