@use 'include-media' as *;

.menu {
  display: grid;
  gap: 6vw 4vw;
  align-items: center;
  padding: 2vh 0;

  .profile {
    justify-self: start;

    img {
      aspect-ratio: 1;
      width: min(120px, 160px);
      border-radius: 50%;
      border: 6px solid var(--color-on-primary);
      background-color: var(--color-secondary);
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em 2em;

    &-link {
      --line-size: max(2px, 0.25em);
      --link-underline-color: transparent;

      &:hover {
        --link-underline-color: currentcolor;
      }
    }
  }

  // For desktop/tablet wider than medium screens.
  @include media('>=tablet') {
    gap: 4vw;
    grid-template-columns: 1fr auto;

    &-list {
      justify-self: end;
    }
  }
}
