<section class="colophon" aria-label="colophon">
  <h2>The Tech Stuff</h2>

  <p>This site is built using tools such as <a href="https://www.11ty.dev/">11ty</a> and <a href="https://sass-lang.com/">Sass</a>. Assets include <a href="https://fonts.google.com/">Google Fonts</a> and <a href="http://fontawesome.io/">FontAwesome</a>. Profile picrew credit <a href="https://twitter.com/SangledHere">@SangledHere</a>. Hosting and domain available through <a href="https://www.dreamhost.com/">DreamHost</a>.</p>

  <a class="button button-on-secondary" href="https://github.com/{{- site.social.github -}}"><span class="fas fa-fw fa-code-branch" aria-hidden="true"></span>View the repo on Github</a>
</section>
