<form action="https://formspree.io/f/xleaykjz" method="POST">
  <label>
    Name
    <input type="text" name="name" id="name">
  </label>
  <label>
    Email
    <input type="email" name="email" id="email">
  </label>
  <label>
    Your message
    <textarea name="message" id="message"></textarea>
  </label>
  <button type="submit">Send</button>
</form>
