<h2>Get in Touch</h2>

<p>Feel free to contact me! While I am not open to switching jobs right now, I'd love to chat with you about CSS, web accessibility, road trips, pop culture, horror films, fat studies, and more. You can also find me on various social media.</p>

<a class="button" href="{{ '/contact/' | url }}"><span class="far fa-fw fa-edit" aria-hidden="true"></span>Send a message</a>
