<form action="https://formspree.io/f/xleaykjz" method="POST">
  <label>
    Name
    <input type="text" name="name" id="name">
  </label>
  <label>
    Email
    <input type="email" name="email" id="email">
  </label>
  <label>
    Your message
    <textarea name="message" id="message"></textarea>
  </label>
  <button class="button button-on-main" type="submit"><span class="fas fa-fw fa-mouse-pointer" aria-hidden="true"></span>Submit</button>
</form>
