{% set menu = collections.all | eleventyNavigation %}

{%- if not menu | length == 0 -%}
<nav class="menu" aria-label="global site">
  <ul>
    {%- for item in menu %}
      <li>
        <a href="{{- item.url | url -}}">{{- item.title -}}</a>
      </li>
    {%- endfor %}
  </ul>
</nav>
{%- endif -%}
