<ul>
  <li><a href="/guide/">Style Guide</a></li>
  {% for page in collections.guide %}
    <li>
      <a href="{{ page.url }}">
        {{ page.data.title }}
      </a>
    </li>
  {% endfor %}
</ul>
