<ul class="social">
  <li><a href="mailto:{{- site.email -}}"><span class="fas fa-fw fa-envelope-square" aria-hidden="true"></span>Email</a></li>
  <li><a href="https://github.com/{{- site.github -}}"><span class="fab fa-fw fa-github-square" aria-hidden="true"></span>Github</a></li>
  <li><a href="https://twitter.com/{{- site.twitter -}}"><span class="fab fa-fw fa-twitter-square" aria-hidden="true"></span>Twitter</a></li>
  <li><a href="https://www.linkedin.com/in/{{- site.linkedin -}}"><span class="fab fa-fw fa-linkedin" aria-hidden="true"></span>LinkedIn</a></li>
</ul>
