/* http://a11yproject.com/posts/how-to-hide-content/ */
.hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border: 0 !important;
}



.displayed {
  position: relative;
  clip: auto;
  width: auto;
  height: auto;
}