{%- from "post/meta.njk" import postMeta with context -%}

{%- macro postList(post_list) -%}
  <section class="post-list" aria-label="Post list">
    {%- for post in post_list -%}
      <article class="post-post sidebar">

        {{ postMeta( post.data.date, post.data.category, post.data.tags ) }}

        <h2 class="post-title sidebar-main"><a class="post-title-link" href="{{- post.url -}}">{{ post.data.title -}}</a></h2>
      </article>
    {%- endfor -%}
  </section>
{%- endmacro -%}
