{%- from "post/title.njk" import postTitle with context -%}

{%- macro postMeta( title, date, category, tags, class="blog", url ) -%}
  <div class="{{- class -}}-meta">

    <p class="{{- class -}}-date">{{- date | longDate -}}</p>

    {{ postTitle( title, class, url ) }}

    {%- if tags -%}
      <dl class="{{- class -}}-taxonomy flex-items">
        <dt class="hide-on-screen">Tags</dt>
        {% for tag in tags -%}
          <dd class="flex-item {{ class -}}-term"><a class="{{- class -}}-term-tag button button-primary" href="/blog/tag/{{ tag | slug }}/">{{ tag }}</a></dd>
        {%- endfor -%}
      </dl>
    {%- endif -%}
  </div>
{%- endmacro -%}
