{%- macro postTitle( title, class, url ) -%}

  <{{- "h2" if class == "blog" else "h1" }} class="{{- class -}}-title">
    {%- if url -%}
      <a class="{{- class -}}-title-link" href="{{ url }}">
    {%- endif -%}

    {{- title -}}

    {%- if url -%}
      </a>
    {%- endif -%}

  </{{- "h2" if class == "blog" else "h1" }}>

{%- endmacro -%}
