.post {
  &-post {
    margin-block-end: 6rem;
  }

  &-title {
    line-height: 1;
  }

  &-taxonomy {
    --flex-items-gap: 0 0.5em;

    font-size: 0.9rem;
  }

  &-date {
    font-size: 1.1rem;
  }

  &-date,
  &-taxonomy,
  &-title {
    margin-block: 0;
  }

  &-date,
  &-taxonomy {
    text-transform: uppercase;
  }
}



.pagination {
  padding-block-start: 3rem;
  border-block-start: 0.25rem solid var(--color-on-highlight);

  &.page-first {
    --flex-items-justify: end;
  }
}
