.talk-list {
  --border-fluid-sm: 1px;
  --border-fuild-lg: 0.05em;
  --border-size: max( var(--border-fluid-sm), var(--border-fuild-lg) );

  &-group {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.5em 0;
    justify-content: start;
    margin-right: var(--border-size);
    margin-left: var(--border-size);

    &:not( :first-child ) {
      margin-top: 1.5em;
    }
  }

  &-title,
  &-data {
    margin: 0 calc( var(--border-size) * -1 );
  }

  &-title {
    width: 100%;
    i {
      font-style: normal;
    }
  }

  &-data {
    padding-right: 0.5em;
    padding-left: 0.5em;
    border-width: 0 calc( var(--border-size) * 2 );
    border-style: solid;
    border-color: var(--color-primary);
    font-size: 1.25rem;
  }

  &-notice {
    font-weight: 500;
  }
}
