@use 'color/color-tokens' as *;

.button {
  cursor: pointer;
  padding: 0.25em 0.5em;
  border: 2px solid currentColor;
  border-radius: 0.3em;
  background-color: var(--links-bg-color);
  color: var(--links-color);
  text-decoration: none;

  &:hover,
  &:focus {
    outline: none;
    box-shadow:
      0 0 0 2px var(--links-act-bg-color),
      0 0 0 2px var(--links-act-color);
    background-color: var(--links-act-bg-color);
    color: var(--links-act-color);
  }

  @each $color in $base-color-tokens {
    &-#{$color} {
      --links-color: var(--color-#{$color});
      --links-act-bg-color: var(--color-#{$color});
      --links-act-color: var(--color-on-#{$color});
    }
  }

  @each $color in $base-color-tokens {
    &-on-#{$color} {
      --links-color: var(--color-on-#{$color});
      --links-act-bg-color: var(--color-on-#{$color});
      --links-act-color: var(--color-#{$color});
    }
  }

  // &-highlight {
  //   --links-bg-color: var(--color-highlight);
  //   --links-color: var(--color-on-accent);
  //
  //   --links-act-bg-color: var(--color-on-accent);
  //   --links-act-color: var(--color-highlight);
  // }
  //
  // &-secondary {
  //   --links-bg-color: var(--color-secondary);
  //   --links-color: var(--color-on-secondary);
  //
  //   --links-act-bg-color: var(--color-on-secondary);
  //   --links-act-color: var(--color-secondary);
  // }
}
