.hide-on-screen {
  position: absolute;  
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(100%);
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
}

.show-on-screen {
  position: static;
  overflow: visible;
  clip: auto;
  clip-path: none;
  width: auto;
  height: auto;
}
