.flex-items {
  display: flex;
  flex-wrap: wrap;
  gap: var(--flex-items-gap, 2rem);
  align-items: var(--flex-items-align, center);
  justify-content: var(--flex-items-justify, start);
}

.flex-item {
  margin: var(--flex-item-margin, 0);
}
