.sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sidebar-gap-row, 5vh) var(--sidebar-gap-column, 5vw);
  place-items: var(--sidebar-align, start) var(--sidebar-justify, start);

  &-main {
    flex-basis: 0;
    flex-grow: 999;
    min-width: var(--sidebar-main-width, calc(65% - 5vw));
  }

  &-aside {
    flex-basis: var(--sidebar-aside-width, 20rem);
    flex-grow: 1;
  }
}
