code:not([class]) {
  padding-inline: 0.3em;
  border-radius: 0.3em;
  // These colors are copied from the Lucario prism theme.
  background-color: #263E52;
  color: #f8f8f2;
}

code,
pre,
code[class*='language-'],
pre[class*='language-'] {
  font-family: var(--font-code);
}
