---
title: Talks
permalink: "/talks/"
eleventyNavigation:
  key: Talks
  order: 2
---

<p>This is a repository for lightning talks, presentations, and papers given by Reed, individually and collaboratively. Co-presenters are credited with each presentation.</p>

<h2>Academic Conferences</h2>

<dl class="data-list talk-list">
  <div class="data-list-group talk-list-group">
    <dt class="data-list-term talk-list-title"><i>The Cooler Superpower of Emily Stanton: Subverting the Invisibility of Fat Women in Film through Ben Falcone’s Thunder Force</i></dt>
    <dd class="data-list-data talk-list-data talk-list-conference">Popular Culture Association, National Conference 2022</dd>
    <dd class="data-list-data talk-list-data talk-list-location">virtual</dd>
    <dd class="data-list-data talk-list-data talk-list-date">13-16 April 2022</dd>
  </div>

  <div class="data-list-group talk-list-group">
    <dt class="data-list-term talk-list-title"><a href="{{ site.external.talks | url }}2021-pcaaca/"><i>"Everything You Remember Never Really Happened": Emotional Abuse and Untrusted Experience in Alex Proyas’ Dark City</i></a></dt>
    <dd class="data-list-data talk-list-data talk-list-conference">Popular Culture Association, National Conference 2021</dd>
    <dd class="data-list-data talk-list-data talk-list-location">virtual</dd>
    <dd class="data-list-data talk-list-data talk-list-date">2-5 June 2021</dd>
  </div>
</dl>

<h2>Tech and Dev Conferences</h2>

<dl class="data-list talk-list">
  <div class="data-list-group talk-list-group">
    <dt class="data-list-term talk-list-title"><a href="{{ site.external.talks | url }}2022-hew/"><i>KSS on My List: Building a Living Style Guide and Pattern Library with KSS-Node</i></a>.</dt>
    <dd class="data-list-data talk-list-data talk-list-conference">HighEdWeb 2022</dd>
    <dd class="data-list-data talk-list-data talk-list-location">Little Rock AR</dd>
    <dd class="data-list-data talk-list-data talk-list-date">9-12 October 2022</dd>
    <dd class="data-list-data talk-list-data talk-list-notice color-notice">forthcoming</dd>
  </div>

  <div class="data-list-group talk-list-group">
    <dt class="data-list-term talk-list-title"><a href="{{ site.external.talks | url }}2021-wpcampus/"><i>KSS on My List: Building a Living Style Guide and Pattern Library with KSS-Node</i></a>.</dt>
    <dd class="data-list-data talk-list-data talk-list-conference">WP Campus 2021</dd>
    <dd class="data-list-data talk-list-data talk-list-location">virtual</dd>
    <dd class="data-list-data talk-list-data talk-list-date">21-22 September 2021</dd>
  </div>

  <div class="data-list-group talk-list-group">
    <dt class="data-list-term talk-list-title"><a href="{{ site.external.talks | url }}2020-wpcampus/automations.pdf"><i>Automation Tools Can Help Your Sprints Work Smarter, Not Harder</i><span class="fas fa-file-pdf" aria-label="PDF presentation"></span></a>, co-presented with <a href="https://www.linkedin.com/in/daniellekheld/">Danielle Held</a></dt>
    <dd class="data-list-data talk-list-data talk-list-conference">WP Campus 2020</dd>
    <dd class="data-list-data talk-list-data talk-list-location">virtual</dd>
    <dd class="data-list-data talk-list-data talk-list-date">29-30 July 2020</dd>
  </div>

  <div class="data-list-group talk-list-group">
    <dt class="data-list-term talk-list-title"><i>Don’t Panic: Migrating Georgetown’s sites from Drupal to WordPress</i>, co-presented with <a href="https://www.linkedin.com/in/daniellekheld/">Danielle Held</a></dt>
    <dd class="data-list-data talk-list-data talk-list-conference">WordCamp DC 2020</dd>
    <dd class="data-list-data talk-list-data talk-list-location">Washington DC</dd>
    <dd class="data-list-data talk-list-data talk-list-date">27-29 March 2020</dd>
    <dd class="data-list-data talk-list-data talk-list-notice color-notice">postponed indefinitely</dd>
  </div>
</dl>
