$neuton: 'Neuton', serif;
$montez: 'Montez', cursive;
$raleway: 'Raleway', sans-serif;
$jetbrains: 'JetBrains Mono', monospace;

$title: $montez;
$highlight: $neuton;
$body: $raleway;
$code: $jetbrains;

:root {
  --font-body: #{$body};
  --font-highlight: #{$highlight};
  --font-title: #{$title};
  --font-code: #{$code};
}
