@use 'sass:math';

$spacer: 1em;



:root {
  --spacer: #{$spacer};
  // Calculate a relative line height.
  // Jesús Ricarte
  // https://kittygiraudel.com/2020/05/18/using-calc-to-figure-out-optimal-line-height/
  --line-height: calc(2.5px + 2.5ex + 2.5px);
}



/*
 * Body.
 */

body {
  font-size: clamp(1rem, (1rem + 2vw), 1.5rem);
  line-height: var(--line-height);
}

/*
 * Main content text.
 */

p,
dl,
ol:not([class]):not([role]),
ul:not([class]):not([role]) {
  margin-bottom: var(--spacer);
}

:is(li, dt, dd) {
  margin-bottom: calc( var(--spacer) / 2 );
}

/*
 * Headings.
 */

:is(
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6
) {
  --heading-font: var(--font-highlight);

  margin-bottom: 0.65em;
  line-height: var(--line-height);
  font-weight: 500;
  font-family: var(--heading-font);
  overflow-wrap: break-word;
  hyphens: auto;
}

/*
 * Headings.
 * Setting fluid type scale.
 */

// Major third ratio.
$type-scale: 1.25;

// Base size ~20px, assuming 16px default browser size.
$base-size: 1.5rem;

// Heading levels.
$headings: 5, 4, 3, 2, 1;
$heading-size: $base-size;

@each $heading in $headings {
  // Apply the heading size for this level based on ratio.
  $heading-size: $heading-size * $type-scale;

  h#{ $heading }, .h#{ $heading } {
    // Have the heading size as the default, backup.
    font-size: $heading-size;

    // First, remove the unit to get just a number.
    $heading-unitless: math.div( $heading-size, ( $heading-size * 0 + 1 ) );

    // Calculate the minimum font size allowed.
    $heading-min: $heading-unitless - ( 0.33 * $heading-unitless );

    // Calculate the responsive font size.
    $heading-responsive: ( $heading-unitless - $heading-min ) + 4vw;

    font-size: clamp(
      #{ $heading-min }rem,
      #{ $heading-responsive } + 1rem,
      #{ $heading-size }
    );
  }
}
