/* Colors */

$white: #ffffff;
$black: #000000;

$brand: #5f487b;

$brand-dark: #2c1548;
$brand-med: #dec7fa;
$brand-light: #fffaff;

$brand-comp: #005f52;
$brand-bright: #f9f871;



$body-bg: $white;
$body-txt: $black;

$heading-txt: $brand;

$link-txt: $brand;
$link-txt-hover: $brand-comp;
$link-bg: transparent;
$link-bg-hover: $brand-light;

$border-dark: $brand;
$border-light: $brand-med;

$profile-photo-brd: $white;

$nav-bg: $white;
$nav-shadow: $brand-dark;

$btn-bdr: $brand-dark;
$btn-bg: $brand;
$btn-bg-hover: $brand-dark;
$btn-txt: $white;
$btn-txt-hover: $white;

$blockquote-brd: $brand-dark;
$blockquote-txt: $brand;

$band-bg: $brand;
$band-txt: $white;
$band-link-txt: $brand-light;
$band-link-bg-hover: $brand-dark;

$band-light-brd: $brand-med;
$band-light-bg: $brand-light;
$band-light-txt: $black;

$box-title-txt: $brand;

$project-brd: $brand-med;
$project-bg: $brand-light;
$project-txt: $brand-dark;

$project-info-brd: $brand;

$project-website-txt: $brand-dark;

$code-example-bg: $brand;
$code-example-txt: $white;
$code-select-link-active-bg: $brand-dark;
$code-select-link-active-txt: $white;

$form-input-brd: $brand-dark;