* {
    position: relative;
    @include box-sizing(border-box);
}



body {
    margin: 0;
    padding-top: 4rem;
    background: $body-bg;
    color: $body-txt;
    font-size: 24px;
    line-height: 1.4;
    font-family: "Heebo", Helvetica, Arial, sans-serif;
}

a {
    @include transition(all, 0.3s, ease);
    color: $link-txt;
    font-weight: bold;
    &:focus, &:hover {
        color: $link-txt-hover;
    }
}