{%- extends "layouts/default.njk" -%}

{%- from "post/list.njk" import postList with context -%}

{%- set post_list = pagination.items -%}

{%- block main_content -%}
  <h1>{{- title -}}</h1>

  {%- if post_list -%}
    {{ postList(post_list) }}
  {%- endif -%}

  {%- if pagination.href.previous or pagination.href.next -%}
    <nav class="pagination flex-items {{ "page-first" if pagination.href.next and not pagination.href.previous -}}" aria-label="blog post list pagination">
      {%- if pagination.href.previous -%}
        <a class="pagination-previous button button-on-highlight" href="{{- pagination.href.previous -}}" data-direction="backwards">Previous Page</a>
      {%- endif -%}
      {%- if pagination.href.next -%}
        <a class="pagination-next button button-on-highlight" href="{{- pagination.href.next -}}" data-direction="forwards">Next Page</a>
      {%- endif -%}
    </nav>
  {%- endif -%}
{%- endblock main_content -%}
