<!doctype html>

<html>
<head>
  {%- include "global/head.njk" -%}
</head>
<body>

  {%- include "global/header.njk" -%}

  <main class="main wrapper" id="main" aria-label="body content">
    <div class="container">

      {%- if home -%}
        <h1 class="title h3 color-primary">{{- title -}}</h1>
        <p class="subtitle h1">{{- subtitle -}}</p>
      {%- else -%}
        <h1>{{- title -}}</h1>
      {%- endif -%}

      {%- block main_content -%}
        {{ content | safe }}
      {%- endblock main_content -%}

    </div>
  </main>

  {%- include "global/footer.njk" -%}

</body>
</html>
