{%- extends "layouts/default.njk" -%}

{%- from "post/list.njk" import postList with context -%}

{%- if tag -%}
  {%- set post_list = collections[tag] -%}
  {%- set title = "Tag Archive: " + tag -%}
{%- endif -%}

{%- if categoryName -%}
  {%- set post_list = collections.categories[categoryName] | sort -%}
  {%- set title = "Category Archive: " + categoryName -%}
  {%- set post_category_show = false -%}
{%- endif -%}

{%- block main_content -%}
  <h1>{{- title -}}</h1>

  {%- if post_list -%}
    {{ postList(post_list) }}
  {%- endif -%}
{%- endblock main_content -%}
