<form action="https://formspree.io/contact@reedcodes.com" method="POST">
    
    <p><label for="contact-name">Name</label> <input type="text" name="contact-name" id="contact-name" placeholder="J Smith" /></p>
    <p><label for="contact-email">Email</label> <input type="email" name="contact-email" id="contact-email" placeholder="j.smith@example.com" /></p>
    <p><label for="contact-phone">Phone Number</label> <input type="tel" name="contact-phone" id="contact-phone" placeholder="202-555-1212" /></p>
    
    <p><label for="contact-topic">What would you like to discuss?</label>
        <select name="contact-topic" id="contact-topic">
            <option value="question">I have a question about your website or projects.</option>
            <option value="full-time">I have an opening for a full-time dev position.</option>
            <option value="freelance">I have an offer for a freelance opportunity.</option>
            <option value="other">I have some other comment.</option>
        </select></p>
    
    <p><label for="contact-message">Type in the details of your communication.</label>
        <textarea name="contact-message" id="contact-message"></textarea></p>
    
    <input class="btn btn-large btn-dark" type="submit" value="Send">
    
</form>