<h1>Connect with Me</h1>
<ul class="block">
    <li><a href="mailto:{{ .Site.Params.email }}"><span class="fa fa-fw fa-envelope"></span> <span class="text">Email</span></a></li>
    <li><a href="{{ .Site.Params.twitter }}"><span class="fa fa-fw fa-twitter"></span> <span class="text">Twitter</span></a></li>
    <li><a href="{{ .Site.Params.linkedin }}"><span class="fa fa-fw fa-linkedin"></span> <span class="text">LinkedIn</span></a></li>
    <li><a href="{{ .Site.Params.github }}"><span class="fa fa-fw fa-github"></span> <span class="text">GitHub</span></a></li>
    <li><a href="{{ .Site.Params.drupal }}"><span class="fa fa-fw fa-drupal"></span> <span class="text">Drupal</span></a></li>
</ul>