<h1>Current Position</h1>
<p><b>senior web front-end developer</b> at Georgetown University</p>

<h1>Education</h1>
<p>Professional certificate in <b>Accessibility Information Design and Policy</b> at University of Illinois, Urbana-Champaign</p>
<p>Bachelor of Science in <b>Digital Media &amp; Web Technology</b> at University of Maryland, University College</p>
<p>Associate of Applied Science in <b>Computer Information Systems</b> at Community College of Philadelphia</p>
<ul class="block">
    <li><a href="{{ .Site.BaseURL }}assets/files/{{ .Site.Params.resume }}"><span class="fa fa-fw fa-file"></span> <span class="text">Download my résumé</span></a></li>
    <li><a href="{{ .Site.Params.linkedin }}"><span class="fa fa-fw fa-linkedin-square"></span> <span class="text">View LinkedIn profile</span></a></li>
</ul>