<h1>Current Position</h1>
<p><b>senior web front-end developer</b> at Georgetown University</p>

<h1>Education</h1>
<p>B.S. in <b>Digital Media &amp; Web Technology</b> at University of Maryland, University College</p>
<p>A.A.S. in <b>Computer Information Systems</b> at Community College of Philadelphia</p>
<ul class="block">
    <li><a href="{{ .Site.BaseURL }}assets/files/{{ .Site.Params.resume }}"><span class="fa fa-fw fa-file"></span> <span class="text">Download my résumé</span></a></li>
    <li><a href="{{ .Site.Params.linkedin }}"><span class="fa fa-fw fa-linkedin-square"></span> <span class="text">View LinkedIn profile</span></a></li>
</ul>

<h1>Meetups</h1>
<ul>
    <li>DC Area Drupal Meetup</li>
    <li>UX Book Club DC</li>
    <li>Women Who Code DC</li>
</ul>

<h1>Conferences</h1>
<ul>
    <li>CSS Dev Conf, Oct 2017</li>
    <li>Lesbians Who Tech, Sep 2017</li>
    <li>Drupal GovCon, Aug 2017</li>
    <li>Design 4 Drupal, Jul 2016</li>
    <li>Drupal GovCon, Jul 2016</li>
</ul>