<p>Reed Piernock © {{ page.date.getFullYear() }}</p>
<p>This site is built using tools such as <a href="https://www.11ty.dev/">11ty</a> and <a href="https://sass-lang.com/">Sass</a>. Assets include <a href="https://fonts.google.com/">Google Fonts</a> and <a href="http://fontawesome.io/">FontAwesome</a>. Profile picrew credit <a href="https://twitter.com/SangledHere">@SangledHere</a>. Hosting available through <a href="https://github.com/">GitHub</a> and domain via <a href="https://www.dreamhost.com/">DreamHost</a>.</p>
