<h1 class="name"><span>{{ site.name }}</span></h1>
<div class="profile"><img src="/_dist/images/reedcodes.png" alt="a comic rendering of Reed, a non-binary kid with gray hair and thick black glasses" /></div>
<p class="title"><span>{{ site.title }}</span></p>
