<h1 class="name">{{ site.name }}</h1>
<img class="profile" src="/_dist/images/reedcodes.jpg" alt="a comic rendering of Reed, a non-binary kid with gray hair and thick black glasses" />
<p class="title">{{ site.title }}</p>
