{% set menu = collections.all | eleventyNavigation %}

{%- if not menu | length == 0 -%}
  <ul>
    {%- for item in menu %}
      <li>
        <a href="{{- item.url | url -}}">{{- item.title -}}</a>
      </li>
    {%- endfor %}
  </ul>
{%- endif -%}
