{{ partial "header.html" . }}

<section>
    <div class="container">
        <h1>{{ .Title }}</h1>
        <div class="boxes">
        {{ range .Data.Pages }}
        
        <a class="project box" href="{{ .Permalink }}">
            <img src="{{ .Site.BaseURL }}assets/projects/{{ .Params.screen }}.png" alt="screenshot of {{ .Params.screenalt }}" />
            <h2 class="title">{{ .Title }}</h2>
            <p class="capabilities">{{ .Params.capabilities }}</p>
        </a>
        
        {{ end }}
        </div>
    </div>
</section>

{{ partial "footer.html" . }}