<!doctype html>
<html>

<head>
  <title>
    {{ title }} [ReedCodes.com]
  </title>
</head>

<body>

  <header id="header" aria-labelledby="me">
    <a id="me" href="/">Reed Piernock</a>

    <nav aria-label="site links">
      list of the pages
    </nav>

    <search aria-label="search this site">
      search
    </search>

  </header>

  <main id="main" aria-label="body content">
    {{ content | safe }}
  </main>

  <footer id="footer">
    <p>© {{ page.date.getFullYear() }}</p>

    <section aria-labelledby="contact">
      <h2 id="contect">Get in Touch</h2>

      <p>Feel free to contact me! While I am not looking to switch jobs right now, I'd love to chat with you. You can also find me on various social media.</p>

      <a href="/contact/">Send a message</a>
    </section>

    <nav aria-labelledby="css-joy">
      <h2 id="css-joy">CSS Joy Webring</h2>
      <ul>
        <li><a href="https://webri.ng/webring/cssjoy/previous?via=https://reedcodes.com">Previous</a></li>
        <li><a href="https://webri.ng/webring/cssjoy/random?via=https://reedcodes.com">Random</a></li>
        <li><a href="https://webri.ng/webring/cssjoy/next?via=https://reedcodes.com">Next</a></li>
      </ul>
    </nav>

    <section aria-labelledby="colophon">
      <h2 id="colophon">The Tech Stuff</h2>

      <p>This site is built using tools such as <a href="https://www.11ty.dev/">11ty</a> and <a href="https://sass-lang.com/">Sass</a>. Hosting and domain available through <a href="https://www.dreamhost.com/">DreamHost</a>.</p>

      <a href="https://github.com/reedcodes/reedcodessite.github.io">View this site’s repository on Github</a>
    </section>

  </footer>

</body>

</html>
