---
layout: default
---

{%- from "post-meta.njk" import postMeta with context -%}

<h1>{{ title }}</h1>

{%- set postList = collections.posts | reverse -%}

{%- if postList -%}
  {%- for post in postList -%}
    <article>
      {{- postMeta(
          teaser=true,
          title=post.data.title,
          url=post.url
      ) -}}
    </article>
  {%- endfor -%}
{%- endif -%}
