---
title: Contact Reed
permalink: "/contact/"
eleventyNavigation:
  key: Contact
  order: 4
---

<p>Fill out the form below to send a message! I'd love to chat with you about CSS, web accessibility, road trips, pop culture, horror films, fat studies, and more. You can also find me on various social media.</p>

{%- include "partial/social.njk" -%}

<p>If you are in dev, tech, or pop culture academia, and you want to connect, awesome! Lovely to meet you.</p>

<form action="https://formspree.io/f/xleaykjz" method="POST">
  <label>
    Name
    <input type="text" name="name" id="name">
  </label>
  <label>
    Email
    <input type="email" name="email" id="email">
  </label>
  <label>
    Your message
    <textarea name="message" id="message"></textarea>
  </label>
  <button class="button button-on-main" type="submit"><span class="fas fa-fw fa-mouse-pointer" aria-hidden="true"></span>Submit</button>
</form>
