<!doctype html>

<html>
<head>
  {%- include "head.njk" -%}
</head>
<body>

  <header class="header" aria-label="site intro">
    {%- include "profile.njk" -%}
    {%- include "menu.njk" -%}
  </header>

  <main class="main" aria-label="body content">

    <h1>{{- title -}}</h1>

    {{ content | safe }}

  </main>

  <footer class="footer" aria-label="site information">
    {%- include "social.njk" -%}
    {%- include "colophon.njk" -%}
    {%- include "copyright.njk" -%}
  </footer>

</body>
</html>
