<!doctype html>

<html>
<head>
  {%- include "head.njk" -%}
</head>
<body>

  <nav class="menu" aria-label="global site">
    {%- include "profile.njk" -%}
    {%- include "menu.njk" -%}
  </nav>

  <main class="main" aria-label="body content">

    {%- if not home -%}
      <h1>{{- title -}}</h1>
    {%- endif -%}

    {{ content | safe }}

  </main>

  <footer class="footer" aria-label="site information">
    {%- include "social.njk" -%}
    {%- include "colophon.njk" -%}
    {%- include "copyright.njk" -%}
  </footer>

</body>
</html>
