@use "sass:color";
@use 'color-tokens' as *;

@each $color in $base-color-tokens {
  .bg-#{$color} {
    background-color: var(--color-#{$color});
    color: var(--color-on-#{$color});
  }

  .color-#{$color} {
    color: var(--color-#{$color});
  }

  .color-on-#{$color} {
    color: var(--color-#{$color});
  }
}

$links: "var(--color-primary)" !default;
$links-on: "var(--color-on-secondary)" !default;
