/* 🛑 STOP!
  Do not change this file directly.
  Modify colors in ./src/_data/colors.js
 */

$color-main: #f4f4e1 !default;
$color-on-main: #707059 !default;
$color-contrast: #173c39 !default;
$color-on-contrast: #7EA6A2 !default;
$color-highlight: #ccce7a !default;
$color-on-highlight: #565725 !default;
$color-primary: #c43121 !default;
$color-on-primary: #FFE2DF !default;
$color-secondary: #95caba !default;
$color-on-secondary: #35544B !default;
$color-accent: #bea467 !default;
$color-on-accent: #4A3B19 !default;

$base-color-tokens: ("main", "contrast", "highlight", "primary", "secondary", "accent");

$color-tokens: (
  "color-main": $color-main,
  "color-on-main": $color-on-main,
  "color-contrast": $color-contrast,
  "color-on-contrast": $color-on-contrast,
  "color-highlight": $color-highlight,
  "color-on-highlight": $color-on-highlight,
  "color-primary": $color-primary,
  "color-on-primary": $color-on-primary,
  "color-secondary": $color-secondary,
  "color-on-secondary": $color-on-secondary,
  "color-accent": $color-accent,
  "color-on-accent": $color-on-accent
) !default;

@mixin color-tokens() {
  --color-main: #{$color-main};
  --color-on-main: #{$color-on-main};
  --color-contrast: #{$color-contrast};
  --color-on-contrast: #{$color-on-contrast};
  --color-highlight: #{$color-highlight};
  --color-on-highlight: #{$color-on-highlight};
  --color-primary: #{$color-primary};
  --color-on-primary: #{$color-on-primary};
  --color-secondary: #{$color-secondary};
  --color-on-secondary: #{$color-on-secondary};
  --color-accent: #{$color-accent};
  --color-on-accent: #{$color-on-accent};
}