*:first-child { margin-top: 0; }
*:last-child { margin-bottom: 0; }



h1, h2, h3 {
    font-family: "Lora", "Times New Roman", serif;
}
h1 {
    font-size: 2.75rem;
    line-height: 1;
}
h2 {
    font-size: 1.5rem;
    
}



.title {
    margin-bottom: 0;
    font-size: 3rem;
}
.subtitle {
    margin-top: 0;
    font-size: 1.5rem;
}


.project-name {
    margin-bottom: 0.5rem;
}
.project-website {
    margin: 0 0 2rem;
    color: $grey;
    font-style: italic;
    font-size: 1.2rem;
}



header {
    .title {
        margin-bottom: 0.5rem;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid $yellow;
    }
}



footer {
    h2, p { margin: 0; }
}