$comic: 'Comic Neue', 'Helvetica', 'Arial', sans-serif;
$montez: 'Montez', cursive;
$peralta: 'Peralta', 'Times New Roman', serif;
$public: 'Public Sans', 'Helvetica', 'Arial', sans-serif;

$min: 16px;
$max: 24px;
