.band-light {
    padding: 2rem 0;
    border-top: 1px solid $band-light-brd;
    border-bottom: 1px solid $band-light-brd;
    background: $band-light-bg;
    color: $band-light-txt;
}

.band-dark {
    padding: 1rem 0;
    background: $band-bg;
    color: $band-txt;
    a {
        color: $band-link-txt;
        &:hover, &:focus {
            background: $band-link-bg-hover;
        }
    }
}