%btn {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  @include border-radius(0.5rem);
  line-height: inherit;
  &:hover, &:focus {
    transform: scale(1.0625);
    background: $red;
    color: $white;
  }
}



.btn-dark {
  @extend %btn;
  background: $blue;
  color: $yellow;
}

.btn-outline {
  @extend %btn;
  border: 0.1rem solid $yellow;
  color: $yellow;
    &:hover,
    &:focus {
      border-color: $white;
  }
}

.btn-small { font-size: 0.9rem; }
.btn-large { font-size: 1.5rem; }



.btn span {
  margin-right: 0.5rem;
  vertical-align: text-bottom;
}