.btn {
    display: inline-block;
    padding: 0.25rem 0.75rem;
    border: 1px solid;
    @include border-radius(0.25rem);
    line-height: inherit;
    &:hover, &:focus {
        text-decoration: none;
    }
}

.btn-dark {
    border-color: $btn-dark-bdr;
    background: $btn-dark-bg;
    color: $btn-dark-txt;
    &:hover, &:focus {
        background: $btn-dark-bg-hover;
        color: $btn-dark-txt-hover;
    }
}
.btn-light {
    border-color: $btn-light-bdr;
    background: $btn-light-bg;
    color: $btn-light-txt;
    &:hover, &:focus {
        background: $btn-light-bg-hover;
        color: $btn-light-txt-hover;
    }
}

.btn-small { font-size: 0.9rem; }
.btn-large { font-size: 1.5rem; }

.btn span {
    margin-right: 0.5rem;
    vertical-align: text-bottom;
}