label {
  display: block;
  margin-bottom: 0.25rem;
}

input, textarea, select {
  border: 1px solid $grey;
  font-size: 1rem;
}

input, textarea {
  padding: 0.25rem 0.5rem;
}

textarea {
  width: 40rem;
  max-width: 100%;
  height: 6rem;
}