.icon {
    text-decoration: none;
    span {
        vertical-align: middle;
    }
}

nav a {
    display: inline-block;
    &:hover, &:focus {
        background-color: $nav-link-bg-hover;
    }
    &.active {
        color: $nav-link-txt-active;
    }
}