---
title: Colors
---

<h2>Colors</h2>

<ul class="swatch-list" role="list">
  {% for colorToken in colors %}
    <li>
      <figure class="swatch bg-{{ colorToken.name }}">
        <figcaption class="swatch-caption">
          <strong>{{ colorToken.name }}</strong>
        </figcaption>
      </figure>
    </li>
  {% endfor %}
</ul>

<h2>On Colors</h2>

<ul class="swatch-list" role="list">
  {% for colorToken in colors %}
    <li>
      <figure class="swatch bg-on-{{ colorToken.name }}">
        <figcaption class="swatch-caption">
          <strong>on-{{ colorToken.name }}</strong>
        </figcaption>
      </figure>
    </li>
  {% endfor %}
</ul>
