<footer class="footer wrapper" id="footer" aria-label="site information">
  <div class="container">
    {%- include "partial/contact.njk" -%}
    {%- include "partial/css-joy.njk" -%}
    {%- include "partial/colophon.njk" -%}
    {%- include "partial/social.njk" -%}
    {%- include "partial/copyright.njk" -%}
  </div>
</footer>
