/***
 * inspired by several resets going around, e.g.
 * https://piccalil.li/blog/a-modern-css-reset/
 * https://meyerweb.com/eric/tools/css/reset/
 ***/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  text-rendering: optimizeSpeed;
}

:first-child { margin-top: 0; }
:last-child { margin-bottom: 0; }

[id] { scroll-margin-top: 2rem; }
*:focus { scroll-margin-bottom: 10vh; }

a:not([class]) {
  --line-size: max(2px, 0.1em);

  text-decoration-skip-ink: auto;
  text-decoration-thickness: var(--line-size);

  &:focus {
    outline: var(--line-size) solid currentColor;
    outline-offset: var(--line-size);
    text-decoration: none;
  }
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;

  &[width] {
    height: auto;
  }
}

svg {
  pointer-events: none;
  fill: currentColor;
}

input,
button,
textarea,
select {
  font: inherit;
}



@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
}
