/***
 * inspired by several resets going around, e.g.
 * https://piccalil.li/blog/a-modern-css-reset/
 * https://meyerweb.com/eric/tools/css/reset/
 ***/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  text-rendering: optimizeSpeed;
}

:first-child { margin-top: 0; }
:last-child { margin-bottom: 0; }

[id] { scroll-margin-top: 2rem; }
*:focus { scroll-margin-bottom: 10vh; }

a,
button {
  transition: all 0.3s ease;
}

a {
  --line-size: max(2px, 0.1em);
  --link-underline-color: currentcolor;

  text-decoration-skip-ink: auto;
  text-decoration-thickness: var(--line-size);
  text-decoration-color: var(--link-underline-color);
  text-underline-offset: inherit;

  &:focus {
    outline: var(--line-size) solid currentColor;
    outline-offset: var(--line-size);
    text-decoration: none;

    // For devices that support :focus-visible.
    &:not(:focus-visible) {
      outline: none;
    }
  }

  // For devices that support :focus-visible.
  &:focus-visible {
    outline: var(--line-size) solid currentColor;
    outline-offset: var(--line-size);
    text-decoration: none;
  }
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;

  &[width] {
    height: auto;
  }
}

svg {
  pointer-events: none;
  fill: currentColor;
}

input,
button,
textarea,
select {
  font: inherit;
}



@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
}
