a{
  --line-size: max(2px, 0.1em);

  &:not([class]) {
    color: var(--color-links);
    text-decoration-thickness: var(--line-size);
    text-underline-offset: 1px;

    &:focus,
    &:hover {
      color: var(--color-links-hover);
    }

    &:focus {
      outline: var(--line-size) solid currentColor;
      outline-offset: var(--line-size);
      text-decoration: none;
    }

    [class*='pdf'] { margin-inline-start: 0.25em; }
  }
}
