.main {
  container-name: main;
  container-type: inline-size;
}

.swatch-list {
  --swatch-gap: 2rem;
  --swatch-min: 2;

  display: grid;
  grid-gap: var(--swatch-gap);
  grid-template-columns: repeat(auto-fit, minmax(
      calc(100%/var(--swatch-min) - var(--swatch-gap)),
      1fr
  ));
  
  @container main (inline-size > 1024px) {
      --swatch-min: 4;
  }
}

.swatch {
  margin: 0;
  border-radius: 0.25em;

  &-caption {
    padding: 1em;
    text-align: center;
  }

  strong { display: block; }
}
