/***
 * colors are set in _data/colors.js
 ***/

@use 'color-tokens' as *;

.color {
  &-alert {
    color: var(--color-primary);
  }

  &-notice {
    color: var(--color-on-main);
  }
}

@each $color in $base-color-tokens {
  .bg-#{$color} {
    background-color: var(--color-#{$color});
    color: var(--color-on-#{$color});
  }

  .bg-on-#{$color} {
    background-color: var(--color-on-#{$color});
    color: var(--color-#{$color});
  }

  .color-#{$color} {
    color: var(--color-#{$color});
  }

  .color-on-#{$color} {
    color: var(--color-#{$color});
  }
}
