$primary: (
  "0": #000000,
  "5": #00131C,
  "10": #001E2B,
  "20": #003548,
  "25": #004157,
  "30": #004D66,
  "35": #005976,
  "40": #006687,
  "50": #0081A9,
  "60": #009CCC,
  "70": #3AB7E9,
  "80": #71D2FF,
  "90": #C0E8FF,
  "95": #E1F3FF,
  "98": #F4FAFF,
  "99": #FBFCFF,
  "100": #FFFFFF
);

$secondary: (
  "0": #000000,
  "5": #001507,
  "10": #00210F,
  "20": #00391D,
  "25": #004525,
  "30": #00522C,
  "35": #005F35,
  "40": #006D3D,
  "50": #00894E,
  "60": #00A660,
  "70": #00C472,
  "80": #2DE288,
  "90": #5AFFA2,
  "95": #C2FFD2,
  "98": #E9FFEB,
  "99": #F5FFF4,
  "100": #FFFFFF
);

$tertiary: (
  "0": #000000,
  "5": #18003F,
  "10": #25005A,
  "20": #3F008E,
  "25": #4C00A9,
  "30": #5A00C5,
  "35": #6811DC,
  "40": #742AE8,
  "50": #8E4EFF,
  "60": #A476FF,
  "70": #BB99FF,
  "80": #D3BBFF,
  "90": #EADDFF,
  "95": #F7EDFF,
  "98": #FEF7FF,
  "99": #FFFBFF,
  "100": #FFFFFF
);

$error: (
  "0": #000000,
  "5": #2C000C,
  "10": #400015,
  "20": #660026,
  "25": #7B002F,
  "30": #900039,
  "35": #A60042,
  "40": #BC004C,
  "50": #EA0061,
  "60": #FF4D7D,
  "70": #FF869E,
  "80": #FFB2BE,
  "90": #FFD9DE,
  "95": #FFECEE,
  "98": #FFF8F7,
  "99": #FFFBFF,
  "100": #FFFFFF
);

$neutral: (
  "0": #000000,
  "5": #101114,
  "10": #1A1C1E,
  "20": #2F3033,
  "25": #3A3B3E,
  "30": #46474A,
  "35": #525256,
  "40": #5E5E62,
  "50": #76777A,
  "60": #909094,
  "70": #ABABAE,
  "80": #C7C6CA,
  "90": #E3E2E6,
  "95": #F1F0F4,
  "98": #FAF9FD,
  "99": #FDFBFF,
  "100": #FFFFFF
);
