---
layout: default
title: Reed's Talks
---

<p>This is a repository for lightning talks, presentations, and papers given by Reed, individually and collaboratively. Co-presenters are credited with each presentation.</p>

<h2>Forthcoming Conferences</h2>

<dl>
  <dt><i>"Everything You Remember Never Really Happened": Emotional Abuse and Untrusted Experience in Alex Proyas’ Dark City</i>.</dt>
  <dd>Popular Culture Association, National Conference 2021: 2-5 June 2021.</dd>
</dl>

<h2>Past Conferences</h2>

<dl>
  <dt><a href="/2020-wpcampus/automations.pdf"><i>Automation Tools Can Help Your Sprints Work Smarter, Not Harder</i><span class="fas fa-file-pdf" aria-label="PDF presentation"></span></a>.</dt>
  <dd>WP Campus 2020: 29 July 2020, with Danielle Held.</dd>
</dl>
