{% set menu = collections.all | eleventyNavigation %}

<nav class="menu" id="menu" aria-label="global site">
  {%- include "profile.njk" -%}

  {%- if not menu | length == 0 -%}
    <ul class="menu-list" role="list">
      {%- for item in menu %}
        <li class="menu-list-item">
          <a class="menu-list-link" href="{{- item.url | url -}}">{{- item.title -}}</a>
        </li>
      {%- endfor %}
    </ul>
  {%- endif -%}
</nav>
