{%- macro postMeta(title, url, heading) -%}

  {#- The title is the title of the blog post, but depending on where it is
      output, we may or may not want it to be the `h1` heading on the page.
      Let's check if it _is_ the heading; if not, output no element.
  -#}
  <{{- 'h2' if not heading -}}>

  {#- The url is the link to the blog post, but depending on where it is
      output, we may or may not want it to link anywhere from the page. Let's
      check if there _is_ a link; if not, output no element.
  -#}
  {%- if url -%}<a href="{{- url -}}">{%- endif -%}

  {#- No matter what, let's output the title of the blog post. -#}
  {{- title -}}

  {#- Output the closing tag for the link element, tested above. -#}
  {%- if url -%}</a>{%- endif -%}

  {#- Output the closing tag for the heading element, tested above. -#}
  </{{- 'h2' if not heading -}}>

{%- endmacro -%}
