main.aside {
  
  overflow: hidden;
  
  @include breakpoint(0 $md) {
    padding-left: 0;
    padding-right: 0;
  }
  
  @include breakpoint($md) {
    section {
      float: left;
      width: 65%;
      margin-left: -1rem;
    }
    
    aside {
      float: right;
      width: 31%;
      margin-right: -1rem;
    }
  }
  
}