.container {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}



nav {

}

header {
    padding: 2rem 0 1rem;
}

main {
    padding: 1rem 0 2rem;
}

    section {
        margin: 1rem 0 2rem;
    }

footer {
    padding: 1rem 0 0;
}