.project-img {
    max-width: 400px;
    margin-bottom: 1rem;
    a { border: none; }
    img {
        display: block;
        margin-bottom: 0.5rem;
    }
}



@include breakpoint($md) {
    
.project-wrap {
    overflow: hidden;
    width: 100%;
}

.project-img {
    float: left;
    width: 31%;
}

.project-info {
    float: right;
    width: 65%;
    
    ul.block {
        padding-bottom: 1rem;
        border-bottom: 1px solid $orange;
    }
}

}