<!doctype html>

<html>
<head>
  <title>{%- if not home -%}{{- title -}} | {% endif -%}{{- site.name -}}</title>
  <link rel="stylesheet" media="screen" href="./_dist/css/reedcodes.css" />
</head>
<body>

  <header>
    {%- include "header.njk" -%}
  </header>

  <main>
    {%- if not home -%}
      <h1>{{- title -}}</h1>
    {%- endif -%}

    {{ content | safe }}
  </main>

</body>
</html>
