<!doctype html>

<html>
<head>
  {%- include "head.njk" -%}
</head>
<body>

  <header class="header">
    {%- include "header.njk" -%}
  </header>

  <nav class="menu">
    {%- include "menu.njk" -%}
  </nav>

  <aside class="social">
    {%- include "social.njk" -%}
  </aside>

  <main class="main">
    {%- if not home -%}
      <h1>{{- title -}}</h1>
    {%- endif -%}

    <p>URL: {{ page.url }}</p>

    {{ content | safe }}
  </main>

  <footer class="footer">
    <p>I made this!</p>
  </footer>

</body>
</html>
