---
layout: default
title: Contact Reed
eleventyNavigation:
  key: Contact
---

<p>Fill out the form below to send a message! I'd love to chat with you about CSS, web accessibility, road trips, pop culture, horror films, fat studies, and more. You can also find me on <a href="#social">various social media</a>, although I am on <a href="https://twitter.com/{{- site.social.twitter -}}">Twitter</a> the most, if I must admit.</p>

<p>If you are in dev, tech, or pop culture academia, and you want to connect, awesome! Lovely to meet you.</p>

<p><em>Pssst! Recruiters!</em> I am <strong>not</strong> open to new opportunities right now. If you send me job postings (and especially if you don't recognize that I'm a front-of-the-front-end developer), I <em>will</em> send them to spam. Be forewarned!</p>

{%- include "contact-form.njk" -%}
