---
layout: default
title: Contact Reed
eleventyNavigation:
  key: Contact
---

<p>Fill out the form below to send a message! You can also find me on <a href="#social">various social media</a>, although I am on <a href="https://twitter.com/{{- site.social.twitter -}}">Twitter</a> the most, if I must admit.</p>

{%- include "contact-form.njk" -%}
