---
layout: default
home: true
title: Hello! My name is Reed.
eleventyNavigation:
  key: Home
---

<section>
  <p>I am a senior front-end web developer in Washington DC, specializing mobile first, responsive design using modern CSS techniques. I'm also currently studying Communication, Culture, and Technology at the Graduate School of Arts and Sciences of Georgetown University, focusing on the representation of marginalized identities in popular media, specifically depictions of fat and gender.</p>
  <p>My pronouns are they/them, I love taking long train rides, I plan to <a href="{{ site.external.lhj | url }}">drive the Lincoln Highway</a> when I complete my masters, I knit socks but I have a bunch of unfinished sweaters, I sing in a competitive karaoke league, and I enjoy tea and coffee equally.</p>
  <p>I've been a developer for over twenty years, and I've only recently told my imposter syndrome to shut the eff up and started <a href="{{ '/talks/' | url }}">speaking at conferences</a>. Within my graduate program, I've branched out from dev and explored other passions, critically examining media with regard to abuse, oppression, and underepresentation.</p>
</section>
