---
layout: default
title: Talks
eleventyNavigation:
  key: Talks
---

<section>
  <p>This is a repository for lightning talks, presentations, and papers given by Reed, individually and collaboratively. Co-presenters are credited with each presentation.</p>
</section>

<section>
  <h2>Conferences</h2>

  <dl>
    <dt><i>KSS on My List: Building a Living Style Guide and Pattern Library with KSS-Node</i> <span class="color-alert">[upcoming]</span>.</dt>
    <dd>WP Campus 2021, virtual: 21-22 September 2021.</dd>

    <dt><i>"Everything You Remember Never Really Happened": Emotional Abuse and Untrusted Experience in Alex Proyas’ Dark City</i>.</dt>
    <dd>Popular Culture Association, National Conference 2021, virtual: 2-5 June 2021.</dd>

    <dt><a href="https://talks.reedcodes.com/2020-wpcampus/automations.pdf"><i>Automation Tools Can Help Your Sprints Work Smarter, Not Harder</i><span class="fas fa-file-pdf" aria-label="PDF presentation"></span></a>.</dt>
    <dd>WP Campus 2020, virtual: 29-30 July 2020, with <a href="https://www.linkedin.com/in/daniellekheld/">Danielle Held</a>.</dd>

    <dt><i>Don’t Panic: Migrating Georgetown’s sites from Drupal to WordPress</i> <span class="color-alert">[postponed]</span>.</dt>
    <dd>WordCamp DC: 27-29 March 2020, with <a href="https://www.linkedin.com/in/daniellekheld/">Danielle Held</a>.</dd>
  </dl>
</section>
