<section class="contact" aria-label="contact information">
  <h2>Get in Touch</h2>

  <p>Feel free to contact me! While I am not looking to switch jobs right now, I'd love to chat with you. You can also find me on various social media.</p>

  <a class="button button-on-secondary" href="{{ '/contact/' | url }}"><span class="far fa-fw fa-edit" aria-hidden="true"></span>Send a message</a>
</section>
