<nav class="css-joy" aria-labelledby="css-joy">
  <h2 id="css-joy">CSS Joy Webring</h2>

  <ul class="css-joy-list" role="list">
    <li><a href="https://webri.ng/webring/cssjoy/previous?via=https://reedcodes.com"><span class="fa-fw fa-solid fa-caret-left" aria-hidden="true"></span>Previous</a></li>
    <li><a href="https://webri.ng/webring/cssjoy/random?via=https://reedcodes.com"><span class="fa-fw fa-solid fa-shuffle" aria-hidden="true"></span>Random</a></li>
    <li><a href="https://webri.ng/webring/cssjoy/next?via=https://reedcodes.com"><span class="fa-fw fa-solid fa-caret-right" aria-hidden="true"></span>Next</a></li>
  </ul>
</nav>
