<nav class="social" id="social" aria-labelledby="social-media">
  <h2 id="social-media">Social Media</h2>

  <ul class="social-list" role="list">
    {%- for item in social -%}
      <li><a href="{{ item.url }}"><span class="fa-{{ item.icon.type if item.icon.type else "brands" }} fa-fw fa-{{ item.icon.name }}" aria-hidden="true"></span>{{ item.site }}</a></li>
    {%- endfor -%}
  </ul>
</nav>
