{{ partial "header.html" . }}

<section>
    <div class="container">
        <h1>{{ .Title }}</h1>
        {{ .Content }}
        {{ if eq .Title "Contact" }}
            {{ partial "contact-form.html" . }}
        {{ end }}
    </div>
</section>

{{ if or ( eq .Title "About" ) ( eq .Title "Contact" ) }}
<aside>
    <div class="container">
        {{ if eq .Title "About" }}
            {{ partial "resume.html" . }}
        {{ else if eq .Title "Contact" }}
            {{ partial "contact.html" . }}
        {{ end }}
    </div>
</aside>
{{ end}}

{{ partial "footer.html" . }}