.boxes {
    position: relative;
    padding: 2rem 0;
    @include breakpoint($md) {
        @include display-flex;
        @include flex-wrap(wrap);
        @include justify-content(space-between);
    }
}

.box {
    display: block;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    
    img {
        @include opacity(0.75);
        margin-bottom: 1rem;
    }
    
    .title {
        font-size: 1.2rem;
    }
    .keywords {
        font-size: 0.9rem;
    }
    
    @include breakpoint($md) {
        display: inline-block;
        @include flex(0 1 48%);
    }
    
    @include breakpoint($lg) {
        @include flex(0 1 31%);
    }
    
    
    
    &.project {
        margin-bottom: 2.5rem;
        background: $blue;
        color: $white;
        .title, .keywords {
            margin: 0;
            padding: 0 1rem;
        }
        .title {
            margin: 0 0 0.5rem;
        }
        &:hover, &:focus {
            @include transition(all, 0.3s, ease);
            background: darken($blue,50%);
            color: $cream;
            text-decoration: none;
            img {
                @include transition(all, 0.3s, ease);
                @include opacity(1);
            }
        }
    }
    
}