header {
    img {
        display: block;
        margin-bottom: 2rem;
    }
    
    @include breakpoint($md) {
        padding: 0;
        img {
            margin: 0;
        }
        .scrim {
            @include display-flex();
            @include align-items(flex-end);
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            @include background-image(linear-gradient(transparent, $purple 70%));
        }
        .container {
            width: 100%;
            margin-bottom: 1rem;
        }
    }
    
    @include breakpoint($lg) {
        .scrim {
            @include background-image(linear-gradient(transparent 30%, $purple));
        }
    }
    
}