nav {
    letter-spacing: -4px;
    a {
        display: inline-block;
        margin-right: 1rem;
        padding-right: 1rem;
        border-right: 1px solid $black;
        letter-spacing: 0;
        &:last-child {
            margin: 0;
            padding: 0;
            border: none;
        }
    }
}