@import "breakpoint";
@import "compass/css3";

@import "base/variables";

@import "component/boxes";



* {
    background: transparent !important;
    color: $black;
}

body {
    font-size: 16pt;
}

nav, footer,
.home #projects
{ display: none; }



a, aside a {
    color: $blue;
    text-decoration: underline;
    &[href^="http"]::after {
        content: " ("attr(href)")";
        font-weight: normal;
        font-size: 0.8rem;
    }
}

img {
    max-width: 100%;
    height: auto;
}



.container {
    max-width: 100%;
}



.project {
    img {
        opacity: 1;
    }
}



.code-example {
    .code-select {
        display: none;
    }
}