.band-dark {
    padding: 1rem 0;
    background: $band-bg;
    color: $band-txt;
    a {
        color: $band-link-txt;
        &:hover, &:focus {
            color: $band-link-txt-hover;
        }
    }
}

.band-light {
    padding: 2rem 0;
    background: $band-light-bg;
    color: $band-light-txt;
}