.btn {
    display: inline-block;
    padding: 0.25rem 0.75rem;
    border: 1px solid;
    @include border-radius(0.25rem);
    border-color: $btn-bdr;
    background: $btn-bg;
    color: $btn-txt;
    line-height: inherit;
    text-decoration: none;
    &:hover, &:focus {
        background: $btn-bg-hover;
        color: $btn-txt-hover;
    }
}

.btn-small { font-size: 0.9rem; }
.btn-large { font-size: 1.5rem; }

.btn span {
    margin-right: 0.5rem;
    vertical-align: text-bottom;
}