.code-example {
    h2 {
        margin: 0;
        padding: 0.5rem 1rem;
        background: $code-example-bg;
        color: $code-example-txt;
    }
}



.code-select.inline {
    margin: 0;
    background: $cream;
    font-size: 0.9rem;
    text-align: right;
    li {
        margin: 0;
        &.active {
            a {
                background: $code-select-link-active-bg;
                color: $code-select-link-active-txt;
            }
        }
    }
    a {
        padding: 0.5rem 1rem;
        border: none;
    }
}



.code-block {
    position: relative;
    margin-bottom: 1rem;
}