%link {
  display: inline-block;
  @include transition-property(transform, border, background-color, color);
  @include transition-duration(0.3s);
  @include transition-timing-function(ease);
  border-bottom: 0.125rem solid $blue;
  color: $blue;
  font-weight: bold;
  line-height: 0.875;
  text-decoration: none;

  &:hover,
  &:focus {
    border-bottom-color: $red;
    background: tint($black, 95%);
    color: $red;
  }
}

%link-light {
  border-bottom-color: $yellow;
  color: $yellow;
  &:hover,
  &:focus {
    border-bottom-color: $white;
    background-color: inherit;
    color: $white;
  }
}



a {
  @extend %link;
}

.icon {
    border: none;
}



nav a {
  border-bottom-width: 0;
  line-height: inherit;
  &:hover, &:focus {
    border-bottom-width: 0.25rem;
    border-bottom-color: $red;
  }
  &.active {
    border-bottom-width: 0.25rem;
    border-bottom-color: $blue;
    color: $blue;
    &:hover, &:focus {
      color: $red;
      border-bottom-color: $red;
    }
  }
}



footer a {
  @extend %link-light;
}