nav {
    overflow: auto;
    width: 100%;
    background: $nav-bg;
    
    .fa {
        font-size: 2rem;
    }
    
    .home {
        float: lelft;
        .text { display: none; }
    }
    
    .nav {
        float: right;
        margin: 0;
        padding: 0;
        letter-spacing: -4px;
        li {
            display: inline;
            margin-left: 1rem;
            letter-spacing: 0;
            &:first-child { margin: 0; }
        }
        .fa { display: none; }
    }
    
    
    
    @include breakpoint($sm) {
        .fa {
            margin-right: 0.5rem;
            font-size: 1rem;
        }
        .home .text { display: inline; }
        .nav {
            .fa { display: inline; }
            li { margin-left: 2rem; }
        }
    }
}