nav {
    @include transition(all, 0.5s, ease);
    position: fixed;
    z-index: 1;
    top: 0;
    overflow: auto;
    width: 100%;
    background: $nav-bg;
    @include single-box-shadow(0, 1px, 4px, 0, $nav-shadow);
    
    a {
        margin-right: -1rem;
        margin-left: -1rem;
        padding-top: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        @include breakpoint($sm) {
            margin-bottom: 0;
        }
    }
    
    .fa {
        font-size: 2rem;
    }
    
    .home {
        float: lelft;
        .text { display: none; }
    }
    
    .nav {
        float: right;
        margin-top: 0;
        padding: 0;
        letter-spacing: -4px;
        li {
            display: inline;
            letter-spacing: 0;
        }
        .fa { display: none; }
    }
    
    
    
    @include breakpoint($sm) {
        .fa {
            margin-right: 0.5rem;
            font-size: 1rem;
        }
        .home .text { display: inline; }
        .nav {
            .fa { display: inline; }
            li { margin-left: 2rem; }
        }
    }
}